<!doctype html>
<html lang="en">
  <head>
    <title>Secrets</title>
    <link rel="stylesheet" href="css/secret.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            background-image: url("image/bg.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            color: white;
          }
          .secret {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            color: #fff;
            margin: 8px 0px;
            justify-content: space-between;
          }
        
        .number{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .num{
            padding: 5px;
            margin: 3px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: white;
            padding: 10px;
            font-size: 15px;
            color: black;
            text-decoration: none;
        }
        a{
            text-decoration: none;
        }
        .num:hover{
            background-color: black;
            color: white;
        }
        
        .current{
            padding: 5px;
            margin: 3px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 10px;
            font-size: 15px;
            text-decoration: none;
            background-color: black;
            color: white;
        }
        
        .icon{
            font-size: 25px;
        }
        
    </style>
  </head>
  <body>
    <div class="text-center">
        <div class="container mt-5">
          <i class="fa fa-user-secret fa-5x" aria-hidden="true"></i>
          <h1 class="display-3 mt-1">You've Discovered My Secret!</h1>
          <p class="secret-text">Don't keep your secrets, share them anonymously!</p>
          <% if(usersWithSecrets.length !== 0 ){ %> <% for(var i=start;i>start-2;i--){ %>
                <div class="secret">
                <p class="secret-text"><%= usersWithSecrets[i].secret %></p>
                <div style="display: flex;">
                    <p class="secret-date"><%= usersWithSecrets[i].date %></p>
                    <% if(type === "Public Secrets"){%>
                    <a href="/delete/<%= usersWithSecrets[i]._id %> "><i class="fa fa-trash-o fa-2x delete" aria-hidden="true"></i></a>
                    <% } %>
                </div>
            </div>
            <% }}else{ %>
            <h1>
              You have no Secret Click on this
              <a
                style="text-decoration: none;"
                class="link"
                href="/submit"
                role="button"
              >
                Submit a Secret</a
              >
              For submit your secret
            </h1>
            <% } %>
            <div class="number">
              <% if (current !== 1) {%> 
                <a href="/secrets/<%= current - 1 %> "><i class="fa fa-arrow-left fa-lg num icon" aria-hidden="true"></i></a>
                <% } %> 
            <% for(count = 1;count <= secretLength; count ++) {%> 
              <% if (count == current) {%> 
                <div class="current"><%= count %></div>
                <% } else {%> 
              <a href="/secrets/<%= count %>" ><div class="num"><%= count %></div></a>
            <% }} %>
            <% if (current !== secretLength){%>  
            <a href="/secrets/<%= current + 1 %> "><i class="fa fa-arrow-right fa-lg num icon" aria-hidden="true"></i></a>
            <% } %> 
            </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>