<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text">Don't keep your secrets, share them anonymously!</p>
    <% if(usersWithSecrets.length !== 0){ %> 
      <% for(var i=usersWithSecrets.length-1;i>-1;i--){ %>
        <div class="secret">
          <p class="secret-text"><%= usersWithSecrets[i].secret %></p>
          <p class="secret-date"><%= usersWithSecrets[i].date %></p>
        </div>  
      <% }}else{ %> 
        <h1>You have no Secret Click on this <a style="text-decoration: none;" href="/submit" role="button"> Submit a Secret</a> For submit your secret</h1>
      <% } %> 
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <% if(type === "My Secrets"){%> 
    <a class="btn btn-dark btn-lg" href="/your" %> role="button"><%= type %> </a>
    <% }else{ %> 
      <a class="btn btn-dark btn-lg" href="/secrets" %> role="button"><%= type %> </a>
      <% } %> 
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
