<%- include('partials/header') %>

<div class="text-center">
  <div class="container">
    <i class="fa fa-user-secret fa-5x" aria-hidden="true"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text">Don't keep your secrets, share them anonymously!</p>

    <% if(usersWithSecrets.length !== 0 ){ %> <% for(var
    i=usersWithSecrets.length-1;i>-1;i--){ %>
    <div class="secret">
      <p class="secret-text"><%= usersWithSecrets[i].secret %></p>
      <div style="display: flex;">
        <p class="secret-date"><%= usersWithSecrets[i].date %></p>
        <% if(type === "Public Secrets"){%>
        <a href="/delete/<%= usersWithSecrets[i]._id %> "><i class="fa fa-trash-o fa-2x delete" aria-hidden="true"></i></a>
        <% } %>
      </div>
    </div>
    <% }}else{ %>
    <h1>
      You have no Secret Click on this
      <a
        style="text-decoration: none;"
        class="link"
        href="/submit"
        role="button"
      >
        Submit a Secret</a
      >
      For submit your secret
    </h1>
    <% } %>

    <!-- Button -->
    <div class="flex-button">
      <a class="btn button" href="/logout"><span>Log Out</span></a>
      <% if(type === "My Secrets"){%>
      <a class="btn button" href="/your"><span><%= type %> </span></a>
      <% }else{ %>
      <a class="btn button" href="/secrets"><span><%= type %></span></a>
      <% } %>
      <a class="btn button" href="/submit"
        ><span style="font-size: 20px;">Submit a Secret</span></a
      >
    </div>
  </div>
</div>

<%- include('partials/footer') %>
